<?xml version="1.0" encoding="UTF-8" ?> 
<plist version="1.0">
	<dict>
		<key>items</key> 
		<array>
			<dict>
				<key>assets</key> 
				<array>
					<dict>
						<key>kind</key> 
						<string>software-package</string> 
						<key>url</key> 
						<string>http://feidan.kuaixiangwang.com:8087/files/mobilebilling.ipa</string> <!--(1) 这边写ipa的下载地址 -->
					</dict>
				</array>
				<key>metadata</key> 
				<dict>
				<key>bundle-identifier</key> 
				<string>com.kuaixiangwang.feidanfabu</string><!--(2)这边写你程序的bundle-identifier-->
				<key>bundle-version</key> 
				<string>1.0</string> 
				<key>kind</key> 
				<string>software</string> 
				<key>title</key> 
				<string>mobilebilling</string> <!--(3)这边是点击安装的时候显示的安装名字-->
				</dict>
			</dict>
		</array>
	</dict>
</plist>
